<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="Search city"
      name="city"
      [(ngModel)]="cityName"
    />
  </form>
</div>

<div *ngIf="showerror">
  <app-notification></app-notification>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper_data">
    <img
      src="../assets/hottemp.jpg"
      *ngIf="weatherData.main.temp - kelvin > 15"
    />
    <img
      src="../assets/coldtemp.jpg"
      *ngIf="weatherData.main.temp - kelvin <= 15"
    />
    <div class="weather_data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">
        {{ weatherData.main.temp - kelvin | number : "1.0-0" }}°C
      </div>
    </div>
  </div>
  <div class="lower_data">
    <div class="more_info_label">More Information</div>
    <div class="more_info_container">
      <div class="info_block">
        <div class="info_block_lable">
          <img src="../assets/lowtemp.png" />
          <span>min</span>
        </div>
        <div class="info_block_value">
          {{ weatherData.main.temp_min - kelvin | number : "1.00" }}°C
        </div>
      </div>

      <div class="info_block">
        <div class="info_block_lable">
          <img src="../assets/high-temperature-icon.png" />
          <span>max</span>
        </div>
        <div class="info_block_value">
          {{ weatherData.main.temp_max - kelvin | number : "1.00" }}°C
        </div>
      </div>

      <div class="info_block">
        <div class="info_block_lable">
          <img src="../assets/humidity.png" />
          <span>humidity</span>
        </div>
        <div class="info_block_value">{{ weatherData.main.humidity }}%</div>
      </div>

      <div class="info_block">
        <div class="info_block_lable">
          <img src="../assets/wind.png" />
          <span>wind</span>
        </div>
        <div class="info_block_value">{{ weatherData.wind.speed }}km/h</div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="container">
  <div class="upper_data">
    <img src="../assets/hottemp.jpg" *ngIf="14 > 15" />
    <img src="../assets/coldtemp.jpg" *ngIf="14 <= 15" />
    <div class="weather_data">
      <div class="location">Ghana</div>
      <div class="temperature">{{ 14.4 | number : "1.0-0" }}°C</div>
    </div>
  </div>
  <div class="lower_data">
    <div class="more_info_label">
      More Information
    </div>
    <div class="more_info_container">
      <div class="info_block">
        <div class="info_block_lable">
          <img src="../assets/lowtemp.png">
          <span>min</span>
        </div>
        <div class="info_block_value">
          10°C
        </div>
      </div>

      <div class="info_block">
        <div class="info_block_lable">
          <img src="../assets/high-temperature-icon.png">
          <span>max</span>
        </div>
        <div class="info_block_value">
          20°C
        </div>
      </div>

      <div class="info_block">
        <div class="info_block_lable">
          <img src="../assets/humidity.png">
          <span>humidity</span>
        </div>
        <div class="info_block_value">
          77%
        </div>
      </div>

      <div class="info_block">
        <div class="info_block_lable">
          <img src="../assets/wind.png">
          <span>wind</span>
        </div>
        <div class="info_block_value">
          11 km/h
        </div>
      </div>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>
